#optionsDiv {
    text-align: center;
}
.overflow {
    height: 500px;
    width: 325px;
    font-size: 11px;
}

.loading {
    display: none;
}

.loadingOn {
    display: block;
}

.rssHolder {
    /*border: 1px ridge #c2c2c2;*/
    background-color: #f7f7f7;
    padding: 15px;
    /*font-size: 10px;*/
    /*text-align: left; */
}
#RSSContainer {
    background-color: #f7f7f7;
    padding-bottom: 15px;
}
.rssRow {
    padding-top: 3px;
    padding-bottom: 3px;
}

#rssPreviewGeneral {
    padding-bottom: 10px;
    padding-top: 10px;
}

#choiceRow, #choiceRow2 {
    padding: 10px 10px 5px 10px;
    background-color: #f7f7f7;
}

.bGradient {
    background-color: #f7f7f7;
}